{% extends 'base.html.twig' %}

{% block title 'Acheter'%}

{% block body %}

<div class="container">
    <h1>page Achat </h1>
    <p>Reprehenderit minim ipsum id ut eiusmod irure tempor ullamco anim dolore qui elit id.Enim reprehenderit culpa elit minim mollit elit laboris. Esse eiusmod nostrud sunt cillum labore non occaecat pariatur ea velit. Qui deserunt voluptate laborum veniam magna sint laborum. Id proident sunt ullamco velit magna sit quis et cillum commodo do amet enim nostrud. Dolore laboris qui adipisicing proident tempor. Fugiat veniam duis velit culpa laborum non aliquip ea. Aliqua tempor ex occaecat et aliquip.</p>
</container>
{% endblock %}